/* コピーライトのcss */
.copyright {
	border-top: 3px double #3F51B5;
	text-align: center;
}



/* ログイン画面のcss */
.loginbox {
	margin-left: 40%;
	margin-top: 40px;
}

.logionbutton {
	margin-left: 195px;
	margin-top: 10px;
}

/* 各リンクのcss */
.header {
	position: fixed; /* ヘッダーの固定 */
	top: 0px; /* 位置(上0px) */
	left: 0px; /* 位置(右0px) */
	width: 100%; /* 横幅100%*/
	height: 40px; /* 縦幅 */
	background-color: #b8e3f7; /* 背景色(黒) */
	padding: 10px 0 10px; /* 上10px、下20pxをあける */
	height: 40px; /* 縦の高さ110px */
	width: 100%; /* 横の幅を100% */
	font-size: 140%;
}

/* 投稿タイトルのcss */
.messagetitle {
	border-bottom-style: dotted;
	font-size: x-large;
}

/* 投稿本文のcss */
.messagetext {
	white-space: pre-line;
	margin-left: 15px;
	margin-top: -20px;
	margin-bottom: 5px;
}

/* 投稿カテゴリーのcss */
.messagecategory {
	border-top-style: dotted;
}

/* 投稿登録日のcss */
.messagedate {

}

.errorMessages {
	margin-top: 90px;
	margin-bottom: -80px;
	margin-left: 10%;
	color: red;
}

.messagehon {
	margin-top: 5px;
}

/* 投稿枠のcss */
.message {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin-left: 10%;
	margin-right: 10%;
	min-width: 40%;
}

/* コメント投稿機能のcss */
.newcomment {
	text-align: right;
	margin-top: 15px;
	margin-right: 15%;
	margin-bottom: 60px;
}

/* コメント表示のcss */
.comments {
	margin-left: 15%;
	border-left-style: dotted;
	min-width: 40%;
}

/* コメント本文のcss */
.commenttext {
	margin-right: 15%;
	margin-left: 15px;
	white-space: pre-line;
}

/* コメントuserのcss */
.commentuser {
	border-bottom-style: dotted;
	margin-bottom: -10px;
}

/* コメント削除のcss */
.commentsdelete {
	margin-top: -70px;
	margin-bottom: -30px;
}

/* メッセージ削除のcss */
.messagedelete {
	margin-left: 5px;
	margin-bottom: 5px;
}

/* ユーザー一覧枠のcss */
.tablemain {
	margin-top: 100px;
	margin-left: 25%;
	margin-right: 10%;
	margin-bottom: 15px;
	min-width: 40%;
}

.form-area {
	margin-top: 30px;
	margin-left: 20%;
	margin-right: 10%;
	min-width: 20%;
	margin-bottom: 15px;
}

.active {
	font-weight: bold;
}

.stop {
	background-color: #9E9E9E;
	color: white;
	font-weight: bold;
}

.td {
	border: 2px #808080 solid;
}

.seach {
	margin-left: 10%;
	border: #ffeb3b dashed;
	padding: 5px;
	margin-right: 10%;
	margin-top: 90px;
}

.logout {
	text-align: right;
	margin-right: 5px;
	margin-top: -34px;
}

.errorMessageslogin {
	margin-left: 40%;
	color: red;
}

.blank {
	margin-top: 2px;
}

.settings {
	margin-left: 40%;
	margin-right: 30%;
	min-width: 20%;
	margin-top: 90px;
	margin-bottom: 15px;
}

.errorMessagesset {
	margin-left: 40%;
	margin-right: 30%;
	color: red;
	margin-top: 90px;
	margin-bottom: -100px;
}

.errorMessagesmes {
	margin-top: 90px;
	margin-bottom: -80px;
	margin-left: 20%;
	color: red;
}

.waku {
	margin-bottom: -10px;
}

.headtitle {
	margin-left: 5px;
}

.link {
	text-align: right;
	margin-right: 5px;
}

.errorMessageslist {
	margin-top: 90px;
	margin-bottom: -80px;
	margin-left: 25%;
	color: red;
}

.wakus {
	margin-bottom: 30px;
}